
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'inter','Raleway', sans-serif;
}

/* Banner Section */
.banner {
  background-image: url('Assets/Hero-bg.png');
  background-size: cover;
  background-position: center;
  padding: 100px 20px;
  text-align: center;
  position: relative;
}
.banner .logo {
  font-family: 'inter', sans-serif;
  position: absolute;
  top: 65.5px;
  left: 150px;
  color: #4E47FF;
  font-weight: 900;
  font-size: 34px;
}
.signup-btn {
  font-family: 'Raleway', sans-serif;
  position: absolute;
  top: 50px;
  right: 150px;
  background-color: #4E47FF;
  color: #FFFFFF;
  border: none;
  padding: 12px 36px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
}
.banner h1 {
  font-family: 'Raleway', sans-serif;
  color: #252432;
  font-size: 65px;
  font-weight: bold;
  margin: 80px 0 20px;
}
.focus-btn {
  background-color: #4E47FF;
  color: #FFFFFF;
  padding: 12px 36px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

/* Action Section */
.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 10%;
  background-color: #ffffff;
  flex-wrap: wrap;
  margin-top: 116px;
  margin-bottom: 116px;
  margin-left: 141px;
  margin-right: 159px;
}
.action-left {
  max-width: 500px;
}
.action-left h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  font-weight: bold;
  color: #252432;
  margin-bottom: 23px;
}
.action-left p {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight:400;
  color: #252432;
  margin-bottom: 20px;
}
.preview-btn {
  background-color: #4E47FF;
  color: #FFFFFF;
  padding: 12px 36px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.action-right img {
  width: 100%;
  max-width: 403px;
  max-height: 328px;
  border-radius: 20px;
}

/* user statistics section */
.stats-section {
  background: #eaeaff;
  padding: 60px 20px;
  text-align: center;
   margin: 166px 141px ;
}


.stats-box h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 38px;
  font-weight:bold;
  color: #252432;
  margin-bottom: 30px;
}

.stats {
  display: flex;
  justify-content: center;
  gap: 158px;
  flex-wrap: wrap;
}

.stat h3 {
  color:  #4E47FF;
  font-family: 'inter', sans-serif;
  font-size: 80px;
  font-weight:bold;
  margin: 0;
}

.stat p {
  color:  #000000;
  font-family: 'inter', sans-serif;
  font-size: 20px;
  font-weight:400;
  margin-top: 6px;
}